@tailwind base;
@tailwind components;
@tailwind utilities;

.global-nav-logo {
  width: 60px;
}
.global-nav-logo .st0 {
  fill: #29abe2;
}
.global-nav-logo .st1 {
  fill: #ff5a6a;
}

.sidebar-profile::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right bottom, #ff5a6a, #29abe2);
  border-radius: 1rem;
  transform: translate(-50%, -50%) rotate(5deg);
}
